<h1>Plan Your New Move</h1>
<p>We know that planning a move can be tough. But fill out this form and we will try to make it as smooth as possible.</p>

<%= form_for @move do |f| %>
  <%= f.label "Your name:"%>
  <%= f.text_field :name %>
  <br>

  <%= f.label "When are you moving?" %>
  <%= f.date_select :date %>
  <br>

  <%= f.label "Which planet are you moving from?" %>
  <%= f.select(:from, (@planets - ["unknown"])) %>
  <br>

  <%= f.label "Which planet are you moving from?" %>
  <%= f.select(:to, (@planets - ["unknown"])) %>
  <br>

  <%= f.label "What type of vehicle do you need?" %>
  <%= f.select(:vehicle, @vehicles) %>
  <br>

  <%= f.submit "Place My Order" %>

<% end %>