<h1>Plan Your New Rental</h1>
<p>We know that renting a moving vehicle can be tough. But fill out this form and we will try to make it as smooth as possible.</p>

<ul> <strong>Do you need hyperdrive?</strong> (choose one)
  <li style='display:inline-block'><%= link_to "Yes", new_move_path(:hyperdrive => "yes") %></li>
  <li style='display:inline-block'><%= link_to "No", new_move_path(:hyperdrive => "no") %></li>
</ul>


<%= form_for @move do |f| %>
  <%= f.label "Your name:"%>
  <%= f.text_field :name %>
  <br>

  <%= f.label "When are you moving?" %>
  <%= f.date_select :date %>
  <br>

  <%= f.label "Which planet are you moving from?" %>
  <%= f.select(:from, (@planets - ["unknown"])) %>
  <br>

  <%= f.label "Which planet are you moving from?" %>
  <%= f.select(:to, (@planets - ["unknown"])) %>
  <br>

  

  <% if @hyperdrive == "no" %>
    <%= f.label "Choose your vehicle: (no hypderdrive) " %>
    <%= f.select(:vehicle, @vehicles) %>
    <br>
    <%= f.submit "Place My Order" %>
  <% elsif @hyperdrive == "yes" %>
    <%= f.label "Choose your starship: (hyperdrive included) " %>
    <%= f.select(:vehicle, @starships) %>
    <br>
    <%= f.submit "Place My Order" %>
  <% end %>


  

<% end %>