<h1>This is your move</h1>

<h2>Date: <%= @move.date %></h2>
<h2>From: <%= @move.from %></h2>
<h2>To: <%= @move.to %></h2>
<h2>Vehicle: <%= @move.vehicle %></h2>


<%= link_to "Edit This Move", edit_move_path(@move.id) %>
  <%= link_to "Remove This Move", move_path(@move.id), :method => :delete %>
<br>


<h3>Need help moving out from <%= @move.from %>? </h3>
<p>Choose from the following experienced movers who live there:</p>
<% @people.each do |person| %>
  <% if person.homeworld.url == @from_planet_url %>
    <%= person.name %><br>
  <% end %> 
<% end %>



<h3>Need help moving in to <%= @move.to %>?: </h3>
<p>Choose from the following experienced movers who live there:</p>
<% @people.each do |person| %>
  <% if person.homeworld.url == @to_planet_url %>
    <%= person.name %><br>
  <% end %> 
<% end %>